@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap");

::before,
::after {
  box-sizing: border-box; 
  border-width: 0;
  border-style: solid; 
  border-color: #EFF2FC; 
}
::before,
::after {
  --tw-content: '';
}

html {
  line-height: 1.5; 
  -webkit-text-size-adjust: 100%; 
  -moz-tab-size: 4; 
  -o-tab-size: 4;
     tab-size: 4; 
  font-family: Outfit, sans-serif; 
  font-feature-settings: normal; 
}

body {
  margin: 0;
  line-height: inherit; 
}

hr {
  height: 0; 
  color: inherit; 
  border-top-width: 1px;
}



.calendar-carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  margin: -8px; 
}

.calendar-block {
  display: flex;
  margin: 8px;
}

.calendar-day {
  flex: 1;
  min-width: 100px; 
  border: 1px solid #e2e8f0;
  text-align: center;
  padding: 8px;
  scroll-snap-align: start;
  cursor: pointer;
}

.day-of-week {
  font-weight: bold;
  margin-bottom: 4px;
}

.date {
  font-size: 14px;
}


.selected {
  background-color: #131314; 
  color: #140202;
}